.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__step {
  font-weight: 600;

  font-size: 25px;
  line-height: 38px;

  color: #3D82F2;

  text-transform: uppercase;
}

.step__text {
  max-width: 930px;
  text-align: center;
}

.step__title {}

.step__desc {
  font-size: 30px;
  line-height: 45px;

  padding-bottom: 35px;
}

.step__btn {}