include ../../../elements/texts/texts
include ../../../elements/buttons/buttons

.step
  .step__upper 
    .step__text 
      .step__step  step 1
      .step__title 
        h2 Connect Your Content
      .step__desc
        p Bring all of your content together and get a Homepage that automatically updates whenever you create anywhere online.
      .step__btn 
      +button("btn btn--mean btn--border-gray", "error/404", "View Avaliable Sources")
  .step__content-text
    .step__content-text-inner
      .step__content-text-suptitle Your Homepage
      .step__content-text-title Your Content. All in 
        span One Spot 
      .step__content-text-pros
        ol
          li 
          span 1
          | Bring all of your content together into one homepage.
          li 
          span 2
          | Your page automatically updates whenever you create.
      .step__content-text-btns 
        button.btn.btn--small.btn--primary Get Started Now
        button.btn.btn--small.btn--border-gray View A Demo
    .step__content-text-img
      img(src=require("@blocks/index_blocks/index_step-1/assets/spot.png") alt="Spotify")