include ../../../elements/texts/texts
include ../../../elements/buttons/buttons


.love
  .love__title
    +h1("", "Why Creators Love Marico")
  .love__inner 
    .love__item 
      +h3("", "Reduced Anxiety")
      p Never worry about losing your audience.
    .love__item 
      +h3("", "Lower Workload")
      p Just share one link. We'll handle the rest.
    .love__item 
      +h3("", "More Time")
      p Spend less time on marketing tools