html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #00000000;
  transition: border-bottom .1s ease-in;
}

button {
  cursor: pointer;
}

// reset h*
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}