include ../../pug/libs/_libs



doctype html
html(lang='en')

  include ../../pug/libs/_head

  body
    section.upper.container
      include ../../pug/blocks/index_blocks/index_upper/index_upper
    
    section.love.container
      include ../../pug/blocks/index_blocks/index_love/index_love

    section.connect.container
      include ../../pug/blocks/index_blocks/index_step-1/index_step-1

    section.step-1.container
      include ../../pug/blocks/index_blocks/index_step-1/index_step-1