include ../../pug/libs/_libs



doctype html
html(lang='en')

  include ../../pug/libs/_head

  body
    //- include ../../pug/blocks/index_blocks/index_upper/index_upper
//-  include ../../pug/blocks/index_blocks/index_/index_