include ../pug/libs/_libs

doctype html
html(lang="en")

  include ../pug/libs/_head

  body
    h1 Our UI-kit
    .ui-kit__inner
      .ui-kit__block
        include ../pug/blocks/ui-kit/ui-kit_buttons/ui-kit_buttons
      .ui-kit__block
        include ../pug/blocks/ui-kit/ui-kit_inputs/ui-kit_inputs
      .ui-kit__block
        include ../pug/blocks/ui-kit/ui-kit_texts/ui-kit_texts