include ../../../elements/texts/texts

p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
+h1("", "h1")
+h1("title", "Title")
p(class="desc") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum animi. Labore enim possimus consectetur voluptate, ab a voluptas molestiae est magnam cum! Voluptate doloribus minus reiciendis iusto ducimus repellendus.
+h2("", "h2")
+h3("", "content")