include ../../elements/buttons/buttons

+button("", "Simple Button")

+button("btn--primary", "Primary button")

+button("btn--mean btn--white", "Primary button")

+button("btn--mean", "Mean button")

+button("btn--mean btn--bg", "Mean button")

+button("btn--large btn--primary", "Large primary button")

+button("btn--border-gray btn--mean", "Mean button with border")

+button("btn--border-blue btn--mean", "Mean button with border")

