include ../../../elements/buttons/buttons

+button("", "error/404", "Simple Button")

+button("btn--primary", "error/404", "Primary button")

+button("btn--mean btn--white", "error/404", "Primary button")

+button("btn--mean", "error/404", "Mean button")

+button("btn--mean btn--bg", "error/404", "Mean button")

+button("btn--large btn--primary", "error/404", "Large primary button")

+button("btn--border-gray btn--mean", "error/404", "Mean button with border")

+button("btn--border-blue btn--mean", "error/404", "Mean button with border")

