include pug/libs/_libs

doctype html
html(lang=en)
  include pug/_head
  body
    .container
      h1 Webpack Course
      hr
      .logo
      hr
      pre
      hr
      .box
        h2 Less
      .card
        h2 Scss
      .img 
        +imagePNG("webpack-logo")