// @import "./pages/ui-kit.scss";

.btn {
  color: #707070;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.btn--bg {
  background: red;
}

.btn--border {
  background: darkorange;
}

.btn--large {
  background: greenyellow;
}

.btn--small {
  background: dodgerblue;
}

.btn--primary {
  background: blue;
}