p{
  color: #707070;
}

h1{
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}

h2{
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}

.title {
  font-weight: 700;
  font-size: 112px;
  line-height: 168px;
}

.desc {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  color: #ffffff;
}